*{ margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color:#EBAE68 ;
}

h1{
    color: #36489E;
    margin: 40px;
    text-align: center;
    font-size: 50px;
}

.first-title{
    color: #5B75EB;
    font-size: 40px;
    text-align: center;
    margin: 0px 50px 50px 50px;
}

.first-paragraph{
    color: #559E8C;
    font-size: 25px;
    text-align: justify;
    margin: 25px;
       
}
h4{
    color: #36489E;
    font-size: 30px;
    text-align: center;
    margin: 0px 50px;
    font-style: italic;
}

.first-box{
    margin: 0px 25px;
    background-color: #267B9E;      
}

h2{
    color: #36489E;
    font-size: 30px;
    text-align: center;
    margin: 15px 0px;
}

.item{
    font-size: 15px;
    font: justify;
}

ul {
    font-size: 20px;
    text-align: center;
    list-style: none;
    line-height: 25px;
}

a {
    color: #36489E;
    text-decoration: none;
    text-align: justify;
    cursor: pointer;
    margin: 40px;

}

h3{
    color: #36489E;
    font-size: 30px;
    text-align: center;
    margin: 15px 0px;
}

ol{
    font-size: 20px;
    text-align: center;
    list-style: none;
    margin: 20px;
    line-height: 25px;
}

img{
    width: 400px;
    cursor: pointer;
    text-align: center;
    margin-left: 50px;
}
